.table-container {
  position: relative;
  overflow-y: auto;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  background-color: #f4f4f4;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.row {
  position: absolute;
  display: grid;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #eee;
  align-items: center;
  padding: 0 10px;
}

.table-header, .row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 3fr 2fr; /* Adjust column widths */
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
}


.loader {
  text-align: center;
  padding: 10px;
}



.status-badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  color: white;
  display: inline-block;
  width: 100px; /* Adjust width as needed */
}

/* Color variations based on status */
.status-pending {
  background-color: #f4c542; /* Yellow for pending */
}

.status-processing {
  background-color: #3498db; /* Blue for processing */
}

.status-completed {
  background-color: #2ecc71; /* Green for completed */
}

.status-cancelled {
  background-color: #e74c3c; /* Red for cancelled */
}

.status-badge:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Hover effect */
  transform: scale(1.1); /* Slightly enlarge on hover */
  transition: 0.2s ease-in-out;
}




/* Row component styles */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.status-badge {
  padding: 5px;
  border-radius: 5px;
}

.show-items-btn {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 4px;
}

.show-items-btn:hover {
  background-color: #45a049;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  max-height: 70%;
  overflow-y: auto;
  position: relative; /* To position the close button inside it */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close-btn:hover {
  color: #f44336; /* Red on hover */
}